[OSEv3:children]
masters

[OSEv3:vars]
deployment_type=openshift-enterprise

#Registry Settings
#oreg_images=another.registry.com
#oreg_selector='registry=registry'

#Router Settings
#ortr_images=another.registry.com
#ortr_selector='router=router'


[masters]
<primary master>
