<VirtualHost *:80>

  SetEnv GIT_PROJECT_ROOT {{git_repo_home}}
  SetEnv GIT_HTTP_EXPORT_ALL
  SetEnv REMOTE_USER=$REDIRECT_REMOTE_USER
  AliasMatch ^/git/(.*/objects/[0-9a-f]{2}/[0-9a-f]{38})$          {{git_repo_home}}/$1
  AliasMatch ^/git/(.*/objects/pack/pack-[0-9a-f]{40}.(pack|idx))$ {{git_repo_home}}/$1
  ScriptAliasMatch \
       "(?x)^/git/(.*/(HEAD | \
		       info/refs | \
		       objects/info/[^/]+ | \
		       git-(upload|receive)-pack))$" \
       /usr/libexec/git-core/git-http-backend/$1

  <Location /git/>
    Options +ExecCGI +FollowSymLinks
    Require all granted
  </Location>


  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

</VirtualHost>