---
named_config_views:
  - name: "private"
    acl_entry:
{% for host in groups['openshift']%}
    - "{{ hostvars[host]["dns_private_ip"] }}/32"
{% endfor %}
    zone:
    - "dns_domain": "{{ full_dns_domain }}"
  - name: "public"
    zone:
    - "dns_domain": "{{ full_dns_domain }}"
    forwarder:
    - "{{ public_dns_forwarder }}"
